<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler javaType="java.util.UUID" handler="com.classtechlab.manager._configuration.type.handler.UUIDTypeHandler"/>
    </typeHandlers>
    <mappers>
        <mapper resource="com/classtechlab/manager/infrastructure/datasource/tool/ToolMapper.xml"/>
        <mapper resource="com/classtechlab/manager/infrastructure/datasource/keyword/KeywordMapper.xml"/>
        <mapper resource="com/classtechlab/manager/infrastructure/datasource/category/CategoryMapper.xml"/>
    </mappers>
</configuration>