<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
        [
                <!ENTITY Tool "com.classtechlab.manager.domain.model.tool.Tool">
                <!ENTITY ToolId "com.classtechlab.manager.domain.model.tool.ToolId">
                ]
        >
<mapper namespace="com.classtechlab.manager.infrastructure.datasource.tool.ToolMapper">
    <select id="findAll" resultType="&Tool;">
        SELECT t.id   AS "id.value",
               t.name AS "name.value"
        FROM public.tool t
    </select>
    <select id="findBy" parameterType="&ToolId;" resultType="&Tool;">
        SELECT t.id   AS "id.value",
               t.name AS "name.value"
        FROM public.tool t
        WHERE t.id = #{value};
    </select>
</mapper>